mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+e.row.row
				+e.col-main.col-lg-9
					+e.item
						+e.header-content
							+e.group
								+e.date
									+icon('calendar')
									| 02 декабря 2022
								+e.badge.badge.small 4 минуты чтения
							+e.group
								a(href="#").link.small Все статьи >
						+e.title-block
							+b.section-title
								h2 Значение мониторинга температуры и влажности на продовольственном складе
							+e.badges.d-none.d-lg-block
								.badge_white Производства
								.badge_white Производства
							+e.desciption.text_dark
								p На продовольственном складе поддержание оптимальных условий хранения является ключевым моментом для обеспечения качества и безопасности продуктов.	
								p Содержание статьи:
								ol
									li: a(href="#part1") Зачем нужно контролировать температуру на складе?
									li: a(href="#part2") Как правильно подготовиться к установке системы мониторинга?
									li: a(href="#part3") Какие есть варианты контроля температуры и влажности?
									li: a(href="#part4") Почему лучше выбрать беспроводную систему?
									li: a(href="#part4") Какие могут быть подводные камни в вопросе мониторинга ТиВ?
									li: a(href="#end") Заключение
						+articlePart('intro','Введение', 'На продовольственном складе поддержание оптимальных условий хранения является ключевым моментом для обеспечения качества и безопасности продуктов. ')
							p Одним из важных аспектов в этом процессе является <a href='#'>	мониторинг температуры и влажности</a>. В данной статье рассмотрим, почему контроль этих параметров необходим, как правильно подготовиться к установке системы мониторинга, какие варианты контроля ТиВ существуют, почему беспроводная система предпочтительнее проводной, а также какие могут быть подводные камни в вопросе мониторинга ТиВ.
						+articlePart('part1', 'Зачем нужно контролировать температуру и влажность на складе?', 'Продукты, хранимые на складе, подвержены различным воздействиям, включая изменения температуры и влажности. Несоблюдение оптимальных условий хранения может привести к снижению качества продуктов, потере питательных свойств, а в некоторых случаях даже к размножению бактерий и развитию патогенных микроорганизмов, что представляет угрозу для здоровья потребителей. Контроль температуры и влажности на складе не только обеспечивает безопасность и качество продуктов, но и помогает предотвратить потери и уменьшить риски для бизнеса.')
						+articlePart('part2', 'Как правильно подготовиться к установке системы мониторинга?', 'Продукты, хранимые на складе, подвержены различным воздействиям, включая изменения температуры и влажности. Несоблюдение оптимальных условий хранения может привести к снижению качества продуктов, потере питательных свойств, а в некоторых случаях даже к размножению бактерий и развитию патогенных микроорганизмов, что представляет угрозу для здоровья потребителей. Контроль температуры и влажности на складе не только обеспечивает безопасность и качество продуктов, но и помогает предотвратить потери и уменьшить риски для бизнеса.')
							+e.img-wrap
								+img(src="img/article-bg.png", alt="")
							figcaption.small В настоящее время все более популярным становится использование беспроводных систем 
						+articlePart('part3', 'Почему лучше выбрать беспроводную систему?', 'В настоящее время все более популярным становится использование беспроводных систем мониторинга. Эти системы предлагают ряд преимуществ, включая:')
							.list
								+listItem('1','Гибкость в размещении: ', 'Датчики могут быть установлены в любом месте склада без ограничений длины проводов.')
								+listItem('2','Легкость установки: ', 'Беспроводные системы не требуют сложной проводки, что упрощает процесс установки')
								+listItem('3','Удаленный доступ: ', 'Беспроводные системы позволяют мониторить данные удаленно через интернет, что обеспечивает удобство управления')
								+listItem('4','Масштабируемость: ', 'Системы легко масштабируются при необходимости добавления дополнительных датчиков или расширения площади мониторинга')
						+articlePart('part4', 'Какие могут быть подводные камни в вопросе мониторинга ТиВ?', 'Несмотря на многочисленные преимущества, беспроводные системы мониторинга ТиВ также могут иметь свои недостатки. Неправильная установка или конфигурация системы может привести к недостоверным данным или потере связи с датчиками. Также следует учитывать возможные интерференции или помехи, которые могут повлиять на качество передачи данных в беспроводных сетях.')
							+table
						+articlePart('end', 'Заключение', 'Мониторинг температуры и влажности на продовольственном складе является важным аспектом поддержания качества и безопасности хранящихся продуктов. Выбор и установка системы мониторинга требует тщательного планирования и подготовки, а также учета особенностей конкретного склада и условий его эксплуатации. Использование современных технологий, таких как беспроводные системы мониторинга, может значительно упростить процесс контроля и обеспечить более эффективное управление условиями хранения на складе.')
				+e.col-aside.col-12.col-lg-3
					+e.item.d-none.d-lg-block
						.text_dark.title Содержание
						ul.article-navigation
							li: a(href="#intro") Введение
							li: a(href="#part1") Зачем нужно контролировать температуру на складе?
							li: a(href="#part2") Как правильно подготовиться к установке системы мониторинга?
							li: a(href="#part3") Почему лучше выбрать беспроводную систему?
							li: a(href="#part4") Какие могут быть подводные камни в вопросе мониторинга ТиВ?
							li: a(href="#end") Заключение
					+shareLinks
					+e.item.d-none.d-lg-block
						+sFormSmall
			+e.read.read-more
				.h3.text_dark Читать также
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#безопасность', '#надежность')
						+e.slide.swiper-slide
							+blogCard('example.jpg', 'Виды мониторинга температуры', 'In the ever-evolving landscape of the Internet of Things (IoT), connectivity is the key to unlocking', '01.04.2024', '#рубрика')
						+e.slide.swiper-slide
							+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#безопасность', '#надежность')
						+e.slide.swiper-slide
							+b.A.blog-card--empty(href='#')
								.h4 Еще
									+img(src="img/arrow-right.svg", alt="")
	// end sArticle

mixin sArticle2(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+e.row.row
				+e.col-main.col-lg-9
					+e.item
						+e.header-content
							+e.group
								+e.date
									+icon('calendar')
									| 02 декабря 2022
								+e.badge.badge.small 4 минуты чтения
							+e.group
								a(href="#").link.small Все статьи >
						+e.title-block
							+b.section-title
								h2 Значение мониторинга температуры и влажности на продовольственном складе
							+e.badges.d-none.d-lg-block
								.badge_white Производства
								.badge_white Производства
							+e.desciption.text_dark.d-lg-none
								p На продовольственном складе поддержание оптимальных условий хранения является ключевым моментом для обеспечения качества и безопасности продуктов.	
								p Содержание статьи:
								ol
									li: a(href="#part1") Зачем нужно контролировать температуру на складе?
									li: a(href="#part1") Как правильно подготовиться к установке системы мониторинга?
									li: a(href="#part2") Какие есть варианты контроля температуры и влажности?
									li: a(href="#part3") Почему лучше выбрать беспроводную систему?
									li: a(href="#part4") Какие могут быть подводные камни в вопросе мониторинга ТиВ?
									li: a(href="#end") Заключение
						+articlePart('intro','Введение', 'На продовольственном складе поддержание оптимальных условий хранения является ключевым моментом для обеспечения качества и безопасности продуктов. ')
							p Одним из важных аспектов в этом процессе является <a href='#'>	мониторинг температуры и влажности</a>. В данной статье рассмотрим, почему контроль этих параметров необходим, как правильно подготовиться к установке системы мониторинга, какие варианты контроля ТиВ существуют, почему беспроводная система предпочтительнее проводной, а также какие могут быть подводные камни в вопросе мониторинга ТиВ.
						+articlePart('part1', 'Зачем нужно контролировать температуру и влажность на складе?', 'Продукты, хранимые на складе, подвержены различным воздействиям, включая изменения температуры и влажности. Несоблюдение оптимальных условий хранения может привести к снижению качества продуктов, потере питательных свойств, а в некоторых случаях даже к размножению бактерий и развитию патогенных микроорганизмов, что представляет угрозу для здоровья потребителей. Контроль температуры и влажности на складе не только обеспечивает безопасность и качество продуктов, но и помогает предотвратить потери и уменьшить риски для бизнеса.')
						+articlePart('part2', 'Как правильно подготовиться к установке системы мониторинга?', 'Продукты, хранимые на складе, подвержены различным воздействиям, включая изменения температуры и влажности. Несоблюдение оптимальных условий хранения может привести к снижению качества продуктов, потере питательных свойств, а в некоторых случаях даже к размножению бактерий и развитию патогенных микроорганизмов, что представляет угрозу для здоровья потребителей. Контроль температуры и влажности на складе не только обеспечивает безопасность и качество продуктов, но и помогает предотвратить потери и уменьшить риски для бизнеса.')
							+e.img-wrap
								+img(src="img/article-bg.png", alt="")
							figcaption.small В настоящее время все более популярным становится использование беспроводных систем 
						+articlePart('part3', 'Почему лучше выбрать беспроводную систему?', 'В настоящее время все более популярным становится использование беспроводных систем мониторинга. Эти системы предлагают ряд преимуществ, включая:')
							.list
								+listItem('1','Гибкость в размещении: ', 'Датчики могут быть установлены в любом месте склада без ограничений длины проводов.')
								+listItem('2','Легкость установки: ', 'Беспроводные системы не требуют сложной проводки, что упрощает процесс установки')
								+listItem('3','Удаленный доступ: ', 'Беспроводные системы позволяют мониторить данные удаленно через интернет, что обеспечивает удобство управления')
								+listItem('4','Масштабируемость: ', 'Системы легко масштабируются при необходимости добавления дополнительных датчиков или расширения площади мониторинга')
						+articlePart('part4', 'Какие могут быть подводные камни в вопросе мониторинга ТиВ?', 'Несмотря на многочисленные преимущества, беспроводные системы мониторинга ТиВ также могут иметь свои недостатки. Неправильная установка или конфигурация системы может привести к недостоверным данным или потере связи с датчиками. Также следует учитывать возможные интерференции или помехи, которые могут повлиять на качество передачи данных в беспроводных сетях.')
							+table
						+articlePart('end', 'Заключение', 'Мониторинг температуры и влажности на продовольственном складе является важным аспектом поддержания качества и безопасности хранящихся продуктов. Выбор и установка системы мониторинга требует тщательного планирования и подготовки, а также учета особенностей конкретного склада и условий его эксплуатации. Использование современных технологий, таких как беспроводные системы мониторинга, может значительно упростить процесс контроля и обеспечить более эффективное управление условиями хранения на складе.')
				+e.col-aside.col-12.col-lg-3
					+shareLinks
					+calculate
					+e.item.d-none.d-lg-block
						+sFormSmall
			+e.read.read-more
				.h3.text_dark Читать также
				+e.slider--js.swiper
					.swiper-wrapper
						+e.slide.swiper-slide
							+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#безопасность', '#надежность')
						+e.slide.swiper-slide
							+blogCard('example.jpg', 'Виды мониторинга температуры', 'In the ever-evolving landscape of the Internet of Things (IoT), connectivity is the key to unlocking', '01.04.2024', '#рубрика')
						+e.slide.swiper-slide
							+blogCard('example.jpg', 'Безопасность систем мониторинга', 'Milesight HL31 Wi-Fi HaLow Gateway is designed to bring new excitement to the IoT landscape and empower', '01.04.2024', '#безопасность', '#надежность')
						+e.slide.swiper-slide
							+b.A.blog-card--empty(href='#')
								.h4 Еще
									+img(src="img/arrow-right.svg", alt="")
	// end sArticle


mixin articlePart(partId, title, text)
	+b.articlePart(id=partId)
		h4= title
		p= text
		if block
			block

mixin listItem(n, span, text)
	.listItem
		.numb= n
		.wrap
			span= span
			| #{text}


mixin table 
	.table-wrap
		table
			thead
				tr
					th Наименование датчика
					th Параметры
					th Характеристики
					th Характеристики
			tbody
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
				tr
					td Контроллер AlertBox
					td Table Cell
					td Table Cell
					td Table Cell
